.text-area {
  background-color: theme("colors.background");
  color: theme("colors.text");
  border: none;
  border-radius: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0.75rem;
  resize: none;
  font-size: 1rem;
  font-weight: 400;
}
