.text-area {
  background-color: theme("colors.background");
  color: theme("colors.text");
  border: none;
  border-radius: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0.75rem;
  resize: none;
  font-size: 1rem;
  font-weight: 400;
}

.toolbar {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 0.75rem;
}

.toolbar-element {
  border: 1px solid #444;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.toolbar-element:active,
.toolbar-element:hover,
.toolbar-element:focus {
  outline: none;
}
